$primary-color: #706FE5;
// $secondary-color: #385D50;
$background: #FFFFFF;
// $white: #FFFF;
// $text: #2F2F2F;
// $border: #C4C4C4;
$color-title: #1E1F4B;
$body: #2E3E5C;
// $black: #000000;
// $background-hover: #E9E9E9;
// $button: #D9D9D9;
// $border-bottom: #EFF2F1;
$base-size: 16px;
$text-size: 20px;
// $border-btn: rgba(255, 255, 255, 0.29);
